/* Global variables */

:root {
    /* Colors */
    --dark: #141414;
    --dark_grey: #3d3b38;
    --light_grey: #e5dccd;
    --light: #fff7ea;
    --green: #8cbd6b;
    --dark_green: #2e6d67;

    --highlight: var(--green);
    --bg_light: var(--light_grey);
    --bg_dark: var(--dark_grey);

    --black: var(--dark);
    --white: var(--light);
    
    /* Fonts */
    --body-font: "Inter", sans-serif;;
    --title-font: "Inter", sans-serif;

    /* Dimensions */
    --content_width: 900px;

    /* Transition */
    --transition_time: 0.2s;
}


/* General */

* {margin: 0;}
body, div {display: flex; flex-flow: column; position: relative;}
html {
    scroll-behavior: smooth;
    background-color: var(--black);
}
h1, h2, h3, h4, h5, h6, a, button {font-family: var(--title-font); font-weight: 800;}
p, b {white-space: pre-wrap; font-family: var(--body-font);}
label {cursor: pointer;}
a {
    text-decoration: none;
    color: var(--highlight);
}
button {
    padding: 1rem;
    border: none;
    border-radius: 2rem; /*2x padding size for pill shape*/

    cursor: pointer;
    transition: background-color var(--transition_time);

    background-color: var(--highlight);
    color: var(--white);
    &:hover {background-color: var(--bg_dark);}

    font-size: medium;
}

.center {align-self: center;}
.top-1 {margin-top: 1rem;}
.bottom-1 {margin-bottom: 1rem;}
.row {flex-direction: row;}
.wrap {flex-wrap: wrap;}
.hide {display: none;}


/* Sections */

body {
    align-items: center;
    background-color: var(--white);
}

.header {
    align-items: center; justify-content: center;
    width: 100%; height: 5rem;
    box-sizing: border-box; padding: 1rem calc((100% - var(--content_width))/2);
    color: var(--white);
    background-color: var(--black);
}
.header h1 {font-weight: 300;}

.main {
    max-width: var(--content_width);
    row-gap: 3rem; margin-bottom: 10vh; margin-top: 8vh;
}

.content {
    flex: 1;
    margin: 0 1rem; row-gap: 2rem;    
    color: var(--black);
    * {row-gap: 1rem;}
}
.content a {font-family: var(--body-font); font-weight: 700;}

.navigation a {
    padding: 0.2rem 0.5rem; border-radius: 10rem;
    font-size: large; font-weight: 700;
    transition: background-color var(--transition_time), font-size var(--transition_time);
}
#nav-top-menu a {
    color: var(--white);
    text-align: center; align-self: center; width: 50%;
    &:not(.section-highlight):hover {background-color: var(--bg_dark);}
}
#nav-side a {
    align-self: baseline; color: var(--black);
    &:not(.section-highlight):hover {background-color: var(--bg_light);}
}
.navigation .section-highlight {
    background-color: var(--highlight);
    font-size: x-large;
}
#nav-top-label {
    z-index: 2;
    width: 3rem; height: 3rem;
    position: fixed; top: 1rem; right: 1rem;
    text-align: center; line-height: 3rem;
    border-radius: 50%;
    
    background-color: var(--black); color: var(--white);
    font-size: x-large;

    &::before {content: '\f0c9';}
    #nav-top-checkbox:checked + &::before {content: '\f077';}
}
#nav-top-menu {
    z-index: 1;
    position: sticky; top: 0; left: 0;
    box-sizing: border-box;
    width: 100%;

    background-color: var(--black);
    
    :first-child {margin-top: 1rem;}
    :last-child {margin-bottom: 1rem;}
    * {margin: 0 1rem;}
}
#nav-side {
    /* flex-shrink: 0; */ /*? Enable this to shrink width of side nav to longest link*/
    position: sticky;
    top: 1rem; left: 0;
    width: 9rem; height: min-content;
    margin-left: 1rem;
}

.footer {
    align-items: center; gap: 1rem;
    width: 100%; height: 40vh;
    box-sizing: border-box; padding: 2rem calc((100% - var(--content_width))/2);
    color: var(--white); background-color: var(--black);
    p {font-family: var(--title-font);}
    i {font-size: xx-large;}
    a, i {
        color: var(--white);
        transition: color var(--transition_time);
        font-weight: 400;
        &:hover {color: var(--highlight);}
    }
}
#credits {margin-top: auto; gap: 1rem; justify-content: center;}


/* Screen */

@media only screen and (min-width: 700px) {
    #nav-top-label, #nav-top-menu {display: none;}
}

@media only screen and (max-width: 700px) {
    #nav-side {display: none;}
}


/* Dropdown functionality */

.dropdown-menu {
    overflow: hidden;
    max-height: 0;
}